<div class="row">
	<main class="col-md-12">

		<p>
		<h2>Welcome to my website, here you can see some information about me :)
		</h2>
		<br>
		<p>
		<h4>
			Hey, this website is made by Krupa Kirtikumar Shah<br>
			I am a student at Seneca College (Student ID:131273203)<br>
			I am enrolled in Database Application Development program<br>
			And this website is part of WEB700 Program ;)
		</h4>

	</main>
</div>