<div class="row">
	<main class="col-md-12">

		<p>
		<h2>Welcome to my website, I will be demonstrating HTML5 principles
			and techniques & Routing in Express
		</h2>
		<br>
		<p>
		<h4>This site consists of 3 static views:<br>
			<a href="/">Home</a>,<br>
			<a href="/about">About</a>,<br>
			<a href="/htmlDemo">HTML Demo</a><br>
			as well as 5 routes that supply data , including:<br>
			<a href="/employees">All Employees</a>,<br>
			<a href="/employees?department=3">Employees by Department</a>,<br>
			<a href="/employee/1">A Single Employee By Employee Number</a>,<br>
			<a href="/managers">All Managers</a>,<br>
			<a href="/departments">All Departments</a>
		</h4>
		<br>
		<p>
		<h5>This site utilizes HTML5: a markup language used for structuring
			and presenting content on the World Wide Web
		</h5>

	</main>
</div>