<div class="row">
	<main class="col-md-12">
		<h2>Tables</h2>
		<hr>
		<table class="table">
			<caption><b>Cost Chart(1)</b></caption>
			<thead>
				<tr>
					<th>No</th>
					<th>Device</th>
					<th>Cost($)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Phone</td>
					<td rowspan="2">700</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Charger</td>
				</tr>
				<tr>
					<td>3</td>
					<td>TV</td>
					<td>1000</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="3">Total is 1700</th>
				</tr>
			</tfoot>
		</table>

		<table class="table">
			<caption><b>Cost Chart(2)</b></caption>
			<thead>
				<tr>
					<th>No</th>
					<th>Device</th>
					<th>Cost($)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>laptop</td>
					<td rowspan="2">1500</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Stylus</td>
				</tr>
				<tr>
					<td>3</td>
					<td>iPhone</td>
					<td>1000</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="3">Total is 2500</th>
				</tr>
			</tfoot>
		</table>
		<p>
		<h5>
			There are two tables showing the devices bought by two different customers.<br>
			First table shows Phone+Charger and Tv have been bought as well as there total amount,<br>
			Second table shows Laptop+Stylus and iPhone have been bought as well as there total amount
		</h5>
		<br>

		<h2>Lists</h2>
		<hr>
		<ul>
			<li>Milk</li>
			<li>Cheese
				<ol>
					<li>Mozzarella</li>
					<li>Gouda</li>
					<li>Feta</li>
				</ol>
			</li>
			<li>Butter</li>
			<li>Yogurt</li>
			<li>Cream</li>
			<li>Ice-Cream</li>
		</ul>
		<p>
		<h5>
			Above list shows the basic milk products that we use in day-to-day life,<br>
			along with different types of cheese that we are usually familiar with and make use of
		</h5>
		<br>

		<h2>Images</h2>
		<hr>
		<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg"
			alt="Times_square" width="250">
		<br>
		<br>
		<img src="https://cdn.britannica.com/93/94493-050-35524FED/Toronto.jpg" alt="Toronto" width="250">
		<br>
		<br>
		<img src="https://cdn.welcometothejungle.co/uploads/article/social_image/0055/155870/large_Amsterdam-2.jpg"
			alt="Amsterdam" width="250">
		<br>
		<br>
		<p>
		<h5>
			There are three images here of different cities:<br>
			1. New York (1st image)<br>
			2. Toronto (2nd image)<br>
			3. Amsterdam (3rd image)
		</h5>
		<br>

		<h2>Audio</h2>
		<hr>
		<audio controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.mp3"
				type="audio/mp3">
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.ogg"
				type="audio/ogg">
		</audio>
		<br>
		<br>
		<p>
		<h5>
			There are two audio files provided here<br>
			one is .mp3 and other is .ogg<br>
			this is so that audio control will appear no matter what type your browser supports
		</h5>
		<br>

		<h2>Video</h2>
		<hr>
		<video width="320" height="240" controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.mp4" type="video/mp4">
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.ogg" type="video/ogg">
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.webm"
				type="video/webm">
			<p>Sorry, your browser doesn't support HTML5 video</p>
		</video>
		<br>
		<br>
		<p>
		<h5>
			There are three video files given here<br>
			.mp4,.ogg and .webm<br>
			again this is so that any browser supported file among this could work
		</h5>
		<br>


	</main>
</div>